/* Ini css */

html {
    font-family: sans-serif;
}
body{
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo-icon img {
    height: 50px;
    width: 50px;

}

nav>section {
    display: flex;
}

.nav-item {
    color: black;
    font-style: bold;
    text-decoration: none;
    padding: 10px 10px;
    font-weight: bold;
}

.nav-item:hover {
    background-color: #e6e6e6;
    border-radius: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Styles for the banner container */
.banner-container {
    border: none;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Ensure overflow is hidden */
    height: 500px; /* Set a fixed height for the container */
    background-color: #00000000; /* Optional: Set a background color to better visualize centering */
}

.img-banner {
    width: 100%;
    height: 100%;
    display: none;
}

/* Ensure the first image is displayed initially */
.img-banner:first-child {
    display: block;
}

/* Styles for the buttons */
button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0);
    border: none;
    padding: none;
    background: none;
    cursor: pointer;

}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}


button.prev img,
button.next img {
    width: 30px;
    height: 30px;
}


.banner-container {
    height: auto;
    width: 1366px;
}

.banner-container img{
    height: auto;
    width: 1200px;
}

/* facilities */
.facilities{
    padding-inline: 100px;
}

.facility-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facility-link {
    text-decoration: none;
    color: inherit;
}

.facility-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.facility-icon img {
    width: 100%;
    height: auto;
}

#moveLeftButton, #moveRightButton {
    margin-top: 20px;
}

/* message us */
.message {
    padding-inline: 100px;
    min-height: 100vh;
    padding: 6rem 5% 1.4rem;
}

.message .row {
    display: flex;
    flex-wrap: wrap;
}

.message .row .table {
    /* background-color: whitesmoke; */
    /* padding: 1.5rem; */
    /* flex-grow: 1;     */
    margin: 2rem;
    /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); */
}

.message .row .result {
    background-color: whitesmoke;
    flex-grow: 2;
    height: 20rem;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 9px;
    /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); */
}

.message .row .result .result-content {
    /* border: 2px solid #000000; */
    padding: 1rem;
    height: 100%;
    width: 100%;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) inset; */
}

.message .row .result .result-content p {
    font-size: 1.2rem;
}

input[type=text]{
    /* border: 1px solid #000000;   */
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 15px;
    background-color:whitesmoke;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) inset; */
    margin: 0.2rem;
}



input[type=date]{
    /* border: 1px solid #000000; */
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 9px;
    background-color: whitesmoke;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) inset; */
    margin: 0.2rem;
}

::-webkit-input-placeholder {
    color: #000000;
}

input[type=radio]{
    accent-color : #000;
    margin: 0.2rem;
}

textarea {
    /* border: 1px solid #000000; */
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 9px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) inset;
    margin: 0.2rem;
}

input[type=submit] {
    background-color: black;
    /* border: 1px solid #000; */
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 18px;
    /* box-shadow: 2px 2px 10px rgba(22, 22, 22, 0.5); */
    color: #e4e3e3;
}


input[type=submit]:hover {
    /* background-color: #3b4554; */
    color: #fff;
    border-color: #000;
    box-shadow: 2px 2px 10px rgba(22, 22, 22, 0.5);
    transition: 0.2s linear;
}


/* .message {
    display: flex;
}

.message-input{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 300;
}
.inputKolom{
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 18px;
    background: whitesmoke;
    margin: 10px;
}


.message-input textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.message-input button{
    border-radius: 50px;
    gap: 10px;
    padding: 15px 30px;
    background: black;
    border: none;
    color: white;
    align-items: center;
    display: flex;
    font-size: 16px;
    cursor: pointer;
}

.form-result {
    border:none;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.result-container {
    width: 100%;
    padding: 10px;
    align-items: center;
} */

/* end message */

footer {
    display: flex;
    justify-content: center;
}

/* responsive */
@media only screen and  (max-width : 600px){
    nav {
        flex-direction: column;
        align-items: center;
    }
    .banner-container{
        width: auto;
    }
}